.mainChat
  .mainChat__header
    .mainChat__headerLeft
      .mainChat__headerLeft--groupName
      .mainChat__headerLeft--groupMember

    .mainChat__headerRight

  .mainChat__messagesList

  .mainChat__messageForm
    .mainChat__messageInput
      .mainChat__messageInput--text
      .mainChat__messageInput--image
    
    .mainChat__messageBtn


